<h1>Create Post</h1>
<form action="/create" method="POST">
    <input type="text" name="title" id="title" placeholder="Title"/>
    <input type="text" name="text" id="text" placeholder="Text"/>
    <input type="text" name="Author" id="author" placeholder="Author"/>
    <button type=submit>Create post</button>
</form>