<h1>Post</h1>
<ul>
    <li class="done">
        <div>Post ID: {{.ID}}</div>
        <div>Title: {{.Title}}</div>
        <div>Text: {{.Text}}</div>
        <div>Author: {{.Author}}</div>
    </li>
</ul>